{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "function-paren-newline": "off",
    "indent": ["error", 4],
    "jsx-a11y/label-has-for": 0,
    "max-len": 0,
    "no-alert": 0,
    "no-mixed-operators": "off",
    "prefer-destructuring": "warn",
    "quotes": ["error", "double"],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": "off",
    "react/prop-types": "warn",
    "space-before-function-paren": "off"
  }
}
